@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background-image: linear-gradient(to right, #006663, #111111),
    url("leaf-bg.jpeg");
  font-family: "Poppins", sans-serif;
}
.login-form .input-field label,
.login-form .captcha label {
  display: block;
  font-size: 15px;
  color: #111;
  margin-bottom: 5px;
  text-align: left;
}
.login-form .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #888;
  font-size: 15px;
  margin-bottom: 10px;
}
.login-form .captcha {
  margin: 15px 0px;
}
.login-form .captcha .preview {
  color: #555;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 1px dashed #888;
  font-family: "monospace";
}
.login-form .captcha .preview span {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}
.login-form .captcha .captcha-form {
  display: flex;
}
.login-form .captcha .captcha-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #888;
  margin-bottom: 10px;
}
.login-form .captcha .captcha-form .captcha-refresh {
  width: 40px;
  border: none;
  outline: none;
  background: #888;
  color: #eee;
  cursor: pointer;
  margin-bottom: 10px;
}

.reset {
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}
.footer a {
  color: rgb(0, 179, 255);
  text-decoration: none;
}
