body {
  background-image: linear-gradient(to right, #006663, #111111),
    url("leaf-bg.jpeg");
}
.login-form .input-field label,
.login-form .captcha label {
  display: block;
  font-size: 15px;
  color: #111;
  margin-bottom: 5px;
}
.login-form .input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #888;
  font-size: 15px;
}
.login-form .captcha {
  margin: 15px 0px;
}
.login-form .captcha .preview {
  color: #555;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 1px dashed #888;
  font-family: "monospace";
}
.login-form .captcha .preview span {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}
.login-form .captcha .captcha-form {
  display: flex;
}
.login-form .captcha .captcha-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #888;
}
.login-form .captcha .captcha-form .captcha-refresh {
  width: 40px;
  border: none;
  outline: none;
  background: #888;
  color: #eee;
  cursor: pointer;
}

.input-field,
.captcha-form input {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field input,
.captcha-form input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}

.reset {
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}
.footer a {
  color: black;
  text-decoration: none;
}
